.backdrop{
    position: fixed;
    left: 0;
    right: 0;
    top: 0vh;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-container{
    width: 30vw;
    background-color: white;
    border-radius: 14px;
    padding: 1rem;
    z-index: 10;
    position: fixed;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.items-list{
    max-height: 30vh;
    overflow-y: scroll;
}

@media (max-width: 500px) {
    .cart-container{
        width: 45vw;
    }
}

.amount-container{
    display: flex;
    justify-content: space-between;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.horizontal-row{
    margin-top: 1rem;
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    width: 7vw;
}

.order-btn{
    background-color: darkred;
    color: white;
    border: none;
    padding: 7px 25px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 0.3rem;
}

.close-btn{
    background-color: white;
    color: darkred;
    border: 1px solid darkred;
    padding: 7px 25px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 0.3rem;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
}