.header-div{
    display: flex;
    align-items: center;
    background-color: brown;
    color: white;
    justify-content: space-around;
}

.cart{
    padding: 0px 2rem;
    border-radius: 35px;
    background: darkred;
    height: 3rem;
    display: flex;
    align-items: center;
}

.cart-count{
    background: brown;
    border-radius: 20px;
    width: 3rem;
    padding: 3px 13px;
}